<div class="container">
    <h1>USERS</h1>
    <div class="pull-right h6" ng-click="userCtrl.addnew()" ng-hide=" userCtrl.adding === true "><i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;ADD USER</div>
    <form novalidate name="AddUserForm" ng-submit="userCtrl.add(AddUserForm)" ng-show=" userCtrl.adding === true ">

        <div class="form-group">
            <label for="username">Name</label>
            <input type="text" required class="form-control" name="username" ng-model="user.name" />
        </div>

        <div class="form-group">
            <label for="useremail">Email</label>
            <input type="text" class="form-control" name="useremail" ng-model="user.email" />
        </div>
        <div class="form-group">
            <div class="col-sm-offset-8 col-sm-10">
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="" ng-click="userCtrl.addcancel()"> cancel</a>
            </div>
        </div>
    </form></form>
</div>
<ul class="list-group">
    <li ng-repeat="user in userCtrl.users" class="list-group-item">
        <img class="img-responsive img-circle" ng-src="{{ user.avatar }}" alt="{{ user.name }}"/>
        <div ng-show="user != userCtrl.editedUser" class="row">
            <div class="col-xs-4">
                {{ user.name }}
            </div>
        </div>
        <div ng-show="user != userCtrl.editedUser" class="row">
            <div class="col-xs-2">

                <button type="button" ng-click="userCtrl.editing(user)" class="btn btn-link btn-xs">
                    <span class="glyphicon glyphicon-edit text-success"></span>
                </button>
            </div>
            <div class="col-xs-2">
                <button type="button" ng-click="userCtrl.remove($index, user.id)" class="btn btn-link btn-xs">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
        </div>
        <div class="row" ng-show=" user == userCtrl.editedUser">
            <div class="col-xs-4 col-xs-offset-1 well">

                <form novalidate name="UserForm" ng-submit="userCtrl.save(UserForm)">
                    <div class="form-group">
                        <label for="username">Name</label>
                        <input type="text" required class="form-control" name="username" ng-model="user.name" />
                    </div>

                    <div class="form-group">
                        <label for="useremail">Email</label>
                        <input type="text" class="form-control" name="useremail" ng-model="user.email" />
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-8 col-sm-10">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <a href="" ng-click="userCtrl.revertEditing($index)"> cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </li>
</ul>